*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#form{
    margin-top: 190px;

}

h1{
    margin-bottom: 40px;
    text-align: center;
}

#img_lado{
    margin-top: 190px;
    width: 450px;
    height: 45ss0px;
}

.d-inline-block align-text-top {
    width: 50px;
    height: 50px;
}

input {
    border-radius: 10px;
    justify-content: center;
}